body {
    background: -moz-linear-gradient(#ffb03c, #ff708d);
    background: -webkit-linear-gradient(#ffb03c, #ff708d);
    background: linear-gradient(to right, #ffb03c, #ff708d);
    color: #FDFFFF;
    width: 500px;
    margin-right: auto;
    margin-left: auto;
}
body:hover{
    background: rgb(97, 41, 41);
    opacity: 0.8;
    filter: alpha(opacity=80);
    -moz-opacity: 0.8;
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
}
button {
    padding: 5px 20px;
    background-color: #5390d9;
    border-style: none;
    color: #FDFFFF;
}
input {
    height: 20px;
}
